
.depicter-revert .depicter-1-element-53{
	background-color:transparent;
}
.depicter-1-element-53 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-element-54{
	background-color:transparent;
}
.depicter-1-element-54 .depicter-bullet-item{
	background-color:rgba(0, 0, 0, 0.5);
	border-radius:5px 5px 5px 5px ;
	width:9px;
	height:9px;
}
.depicter-1-element-54 .depicter-bullet-item.depicter-bullet-active{
	background-color:#000000;
}
.depicter-1-element-54 .depicter-bullets-wrapper{
	gap:5px;
	flex-direction:row;
}
.depicter-revert .depicter-1-element-55{
	background-color:transparent;
}
.depicter-1-element-55 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-element-7{
	opacity:1;
	font-size:17px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-6{
	font-size:28px;
	text-align:left;
	color:#000000;
	font-family:"Montserrat";
	font-weight:200;
	line-height:100%;
	overflow-wrap:break-word;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-32{
	opacity:1;
	font-size:18px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-31{
	font-size:28px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:200;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-38{
	opacity:1;
	font-size:18px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-37{
	font-size:28px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:200;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-44{
	opacity:1;
	font-size:18px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-43{
	font-size:28px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:200;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-50{
	opacity:1;
	font-size:18px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-49{
	font-size:28px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:200;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-46 .depicter-section-background{
	background-color:#FFFFFF;
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-1-element-53{
	background-color:transparent;
}
.depicter-1-element-53 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-element-54{
	background-color:transparent;
}
.depicter-1-element-54 .depicter-bullet-item{
	background-color:rgba(0, 0, 0, 0.5);
}
.depicter-1-element-54 .depicter-bullet-item.depicter-bullet-active{
	background-color:#000000;
}
.depicter-revert .depicter-1-element-55{
	background-color:transparent;
}
.depicter-1-element-55 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-element-7{
	opacity:1;
	font-size:18px;
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-6{
	font-size:30px;
	text-align:left;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-32{
	opacity:1;
	font-size:18px;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-31{
	font-size:30px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:110%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-38{
	opacity:1;
	font-size:18px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-37{
	font-size:30px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:110%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-44{
	opacity:1;
	font-size:18px;
	font-weight:300;
}
.depicter-revert .depicter-1-element-43{
	font-size:30px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-50{
	opacity:1;
	font-size:18px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-49{
	font-size:30px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-46 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-1-element-53{
	background-color:transparent;
}
.depicter-1-element-53 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-element-55{
	background-color:transparent;
}
.depicter-1-element-55 .depicter-symbol-container{
	fill:#000000;
}
.depicter-revert .depicter-1-element-7{
	opacity:1;
	font-size:15px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-6{
	font-size:20px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-32{
	opacity:1;
	font-size:15px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-31{
	font-size:20px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-12 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-38{
	opacity:1;
	font-size:15px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-37{
	font-size:20px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-20 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-44{
	font-size:15px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:140%;
	background-color:transparent;
}
.depicter-revert .depicter-1-element-43{
	font-size:20px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-40 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-1-element-50{
	opacity:1;
	font-size:15px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:120%;
}
.depicter-revert .depicter-1-element-49{
	font-size:20px;
	color:#000000;
	font-family:"Montserrat";
	font-weight:300;
	line-height:100%;
	background-color:transparent;
}
.depicter-revert .depicter-1-section-46 .depicter-section-background{
	background-color:#FFFFFF;
}

}
/*** Custom styles ***/
..depicter-revert.depicter-1 { 
  background-color: red !important;
}

